@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(166, 180, 210);
}

h1 {
  font-size: 3.2rem;
  margin: 2rem 0;
  text-align: center;
}

h2 {
  font-family: "IBM Plex Serif", serif;
  font-size: 2.4rem;
}

p {
  margin: 2rem 0;
  color: rgba(5, 3, 56, 0.5);
  font-weight: 400;
  font-size: 1.6rem;
  display: inline-block;
}

span {
  text-transform: capitalize;
  font-weight: bold;
}

.stories-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.card {
  min-width: 20rem;
  width: 40vw;
  padding: 4rem;
  background-color: #acb5b2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  color: #15133c;
}

.card-button {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  background: linear-gradient(135deg, #ada8a8, #e0e0e0);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-button a {
  color: #02383b;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #c4c2c2;
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.card-button a:hover {
  color: #fff;
  background: #04585d;
  transform: scale(1.05);
}

.card-button a:last-child {
  color: red;
}

.card-button a:last-child:hover {
  background: red;
  color: #fff;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top: 6px solid #c7711b;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 1.6rem;
  color: #04585d;
  font-weight: 600;
}
